#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        com_bs {
            bindings = <&kp BACKSPACE>;
            key-positions = <31 32>;
            layers = <0 1>;
        };

        com_del {
            bindings = <&kp DEL>;
            key-positions = <32 33>;
            layers = <0 1>;
        };

        com_exe {
            bindings = <&kp LC(E)>;
            key-positions = <14 15 16>;
        };

        com_lgui {
            bindings = <&kp LEFT_WIN>;
            key-positions = <36 37>;
        };

        com_left_p {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <19 20>;
            layers = <0>;
        };

        com_f5 {
            bindings = <&kp F5>;
            key-positions = <16 17>;
            layers = <0>;
        };

        com_plus {
            bindings = <&kp EQUAL>;
            key-positions = <33 34>;
            layers = <0>;
        };

        com_asta {
            bindings = <&kp ASTRK>;
            key-positions = <18 19>;
            layers = <0>;
        };

        com_right_p {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <20 21>;
        };

        com_ctrl_c {
            bindings = <&kp LC(C)>;
            key-positions = <27 28>;
        };

        com_ctrl_v {
            bindings = <&kp LC(V)>;
            key-positions = <39 40>;
        };

        com_ctrl_z {
            bindings = <&kp LC(Z)>;
            key-positions = <26 27>;
        };

        com_ctrl_x {
            bindings = <&kp LC(X)>;
            key-positions = <39 38>;
        };

        com_tidle {
            bindings = <&kp TILDE>;
            key-positions = <12 13>;
        };

        com_at {
            bindings = <&kp AT_SIGN>;
            key-positions = <13 14>;
        };

        com_unders {
            bindings = <&kp LS(MINUS)>;
            key-positions = <21 22>;
        };

        com_minus {
            bindings = <&kp MINUS>;
            key-positions = <31 20>;
        };

        com_caps {
            bindings = <&hold CAPS RIGHT_ALT>;
            key-positions = <52 31>;
        };
    };

    behaviors {
        tab_dance_esc_tab: tab_dance_esc_tab {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_DANCE_ESC_TAB";
            #binding-cells = <0>;
            bindings = <&hold ESC TAB>, <&kp GRAVE>;
        };

        hold: hold {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <270>;
            flavor = "balanced";
        };

        tog_layer: tog_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TOG_LAYER";
            bindings = <&tog>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mo_to: mo_to {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TO";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp GRAVE           &kp N1         &kp N2         &kp N3         &kp N4              &kp N5           &kp N6         &kp N7         &kp N8                 &kp N9             &kp N0                &kp BACKSPACE
&tab_dance_esc_tab  &hold LS(Q) Q  &hold LS(W) W  &hold LS(E) E  &hold LS(R) R       &hold LS(T) T    &hold LS(Y) Y  &hold LS(U) U  &hold LS(I) I          &hold LS(O) O      &hold LS(P) P         &kp BACKSPACE
&kp LEFT_CONTROL    &hold LS(A) A  &hold LS(S) S  &hold LS(D) D  &hold LS(F) F       &hold LS(G) G    &hold LS(H) H  &hold LS(J) J  &hold LS(K) K          &hold LS(L) L      &hold COLON SEMI      &hold SINGLE_QUOTE ENTER
&kp LEFT_SHIFT      &hold LS(Z) Z  &hold LS(X) X  &hold LS(C) C  &hold LS(V) V       &hold LS(B) B    &hold B N      &hold LS(M) M  &hold LS(COMMA) COMMA  &hold LS(DOT) DOT  &hold QUESTION SLASH  &kp RSHFT
                                                  &mo_to 1 1     &hold TAB LEFT_ALT  &tog 1           &kp ENTER      &lt 1 SPACE
                                                                 &lt 2 SPACE         &lt 3 ESC        &mkp LCLK
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        layer_1 {
            bindings = <
&kp TILDE         &kp EXCLAMATION  &kp HASH      &kp DOLLAR      &kp DOLLAR    &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE
&kp N1            &kp N2           &kp N3        &kp N4          &kp N5        &kp N6         &kp N7     &kp N8         &kp N9        &kp N0                &kp MINUS              &kp DEL
&kp LEFT_CONTROL  &kp NUMBER_5     &kp NUMBER_6  &kp NUMBER_7    &kp NUMBER_8  &none          &kp N4     &kp N5         &kp N6        &kp LBKT              &kp RBKT               &kp RET
&kp LSHFT         &kp NUMBER_9     &kp NUMBER_0  &kp MINUS       &kp EQUAL     &none          &kp N1     &kp N2         &kp N3        &kp F11               &kp BSLH               &kp RSHFT
                                                 &tog_layer 3 0  &trans        &trans         &kp N0     &kp DOT
                                                                 &trans        &trans         &kp SPACE
            >;
        };

        layer_2 {
            bindings = <
&kp F12             &kp F1      &kp F2         &kp F3              &kp F4         &kp F5          &kp F6         &kp F7         &kp F8    &kp F9     &kp F10  &kp F11
&tab_dance_esc_tab  &kp F2      &kp F12        &kp LS(N3)          &kp LS(N4)     &kp LS(LBKT)    &kp PAGE_UP    &kp HOME       &kp UP    &kp END    &none    &kp BSPC
&kp LEFT_CONTROL    &trans      &kp LS(LG(S))  &kp LC(LEFT_SHIFT)  &kp LS(N8)     &none           &kp PAGE_DOWN  &kp LEFT       &kp DOWN  &kp RIGHT  &trans   &kp RET
&kp LEFT_SHIFT      &kp LS(N9)  &kp LS(N0)     &kp LS(MINUS)       &kp LS(EQUAL)  &none           &none          &trans         &trans    &trans     &none    &trans
                                               &trans              &trans         &trans          &trans         &kp BACKSPACE
                                                                   &trans         &trans          &none
            >;
        };

        L_mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans          &trans          &trans           &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans          &trans    		 &trans           &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans  		 &trans  		 &trans  		  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &mkp MCLK  &mkp LCLK       &mkp RCLK       &mkp MB4         &kp LC(W)  &trans
                        &trans  &trans  &trans    &trans     &trans
                                &to 0   &trans    &trans
            >;
        };

        Mouse {
            bindings = <
&none        &none         &none         &none           &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK       &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &none           &mkp LCLK  &none         &none       &mkp LCLK  &none         &mkp RCLK     &trans        &bootloader
                                         &tog_layer 4 1  &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                         &to 0      &trans        &trans
            >;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;
        };
    };
};

